/*--------------------
|   Call To Action   |
---------------------*/
.cta {
    text-align: center;
    background: var(--primary);
    color: var(--text);
    /* Black text */
    margin-top: 5rem;
    padding: 5rem 2rem;
}

.cta h2 {
    margin-bottom: 1.5rem;
}

.cta button,
.cta .btn {
    display: inline-block;
    margin-top: 2rem;
}

.cta .btn.view-project {
    background: #000;
    /* Solid black box */
    color: #FFF;
    /* White text */
    border: none;
}

.cta .btn.view-project:hover {
    background: var(--highlight);
    color: var(--text);
}
